
#myBtn img, #myBtn2 img, #myBtn3 img, #myBtn4 img, #myBtn5 img, #myBtn6 img{
    max-width: 100%;
    background: #1C1B24;

    box-shadow: 0px 0px 0px transparent;

    border: 0px solid transparent;

    text-shadow: 0px 0px 0px transparent
}

/* Kilder: 
www.w3schools.com
Tyler Potts - Youtube
alvarotrigo.com
*/


