@font-face {
    font-family: "cormorantGaramondBold";
    src: url(/fonts/cormorant-garamond/CormorantGaramond-Bold.ttf);
  }
@font-face {
    font-family: "krungthep";
    src: url(../fonts/Krungthep.ttf);
  }
@font-face {
    font-family: "anton";
    src: url(/fonts/Anton/Anton-Regular.ttf);
  }

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


body{
    background-color: #121118;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}
/* body img{
    max-width: 100%;
    height: auto;
} */
h1{
    font-family: Krungthep;
}
h3{
    font-family: Krungthep;
}
p{
    font-family: Arima Madurai;
}

.banner h1{
    font-size: 3vw;
    padding-left: 2.5vw;
    z-index: 1;
    margin: 0.5vw;
}
.banner h1:hover{
    animation: bigger 5s 1;
}

@keyframes bigger{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}



.banner {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
}

.nav-box{
    grid-column: 2;
    /* background-color: #1C1B24; */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-radius: 25vw;
    margin-top: 3.5vw;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}





.hamburger {
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin-right: 3vw;
    
   
}

.shake{
    animation-name: horizontal-shaking ;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
   
}
@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(1px) }
    50% { transform: translateX(-1px) }
    75% { transform: translateX(1px) }
    100% { transform: translateX(0) }
   }

.hamburger .bar, .hamburger::after, .hamburger::before{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
    
    
}



.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar{
    opacity: 0;
}

.nav-bar {
    display: contents; 
    
}
.nav-bar a {
    display: none; 
   
  }

.nav-bar.shown a {
    
    padding-top: 1rem;
    display: flex;
    list-style: none;
    

    text-align: center;
    padding-top: 1.5vw;
    margin-right: 4vw;
    font-size: 1.5vw;
    font-family: Krungthep;
    justify-content: center;
    
    
  }
  

a{
    text-decoration: none;
    color: white;
    
}
a:hover{
    color: #7a7a7a;
    animation: horizontal-shaking 0.5s infinite ;
}

footer{
    display: flex;
    justify-content: right;
}

footer a{
    display: none;
}

footer p{
    display: none;
    font-size: 0.5vw;
    padding-right: 1vw;
    padding-top: 3vw;
}

@media (max-width: 800px) {

    .banner img{
        max-width: 12vw;
        height: auto;
        padding-left: 2vw;
        padding-top: 1.5vw;
        
        
    }
    .nav-box{
        border-radius: 25vw;
    }
    .nav-bar.shown{
        flex-flow: column;
        font-size: 3vw;
        gap: 1em;
        
    }
    .nav-bar.shown a{
        border-radius: 2vw;
        padding-top: 3vw;
        font-size: 3vw;
        padding-left: 3vw;
        gap: 0.5em;
    }
    .nav-bar_text{
        font-size: 5vw;
    }

    .marg-top{
        margin-top: 10vw;
    }
    .hamburger{
        transform: scale(0.7);
        animation: none;
    }
    .banner h1:hover{
        animation: none;
    }
    .banner h1{
        font-size: 6vw;
        padding-left: 2.5vw;
        z-index: 1;
        margin-top: 1.5vw;
    }
    
    .banner {
        display: grid;
        grid-template-columns: 2fr 12fr 2fr;
    }


   
    


}

/* Kilder: 
www.w3schools.com
Tyler Potts - Youtube
alvarotrigo.com
*/